html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
  min-height: 100vh;
  background: rgb(221, 221, 221);
}
 
a {
  color: inherit;
  text-decoration: none;
}
p {
  color: #555;
}

h1 {
  text-align: center;
}
* {
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 5rem;
  background-color: #222;
  color: #fff;
}
.header__logo {
  filter: invert(1);
  height: 40px;
}
.header__list {
  list-style: none;
  display: flex;
  align-items: center;
}
.header__item:not(:first-child) {
  margin-left: 2.5rem;
}


.layout__container {
  max-width: 1160px;
  margin: 5rem auto;
}

.home__link {
  color: blue;
  text-decoration: underline;
}


.footer {
  background-color: #222;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
   
  width: 100%;
   
}

/* not found section */
.error {
  text-align: center;
}
.error a {
  color: blue;
  text-decoration: underline;
}