.btn {
  display: block;
  margin: 4rem auto;
  padding: .6rem 0;
  width: 12rem;
  
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 5px;
  background-color: rgb(228, 32, 32);
  color: #fff;

}
.btn:hover {
  transition: all .2s;
  background-color: hsl(0, 78%, 41%);
}